{% extends 'base_generic.html' %}
{% block title %}
<title>Book | {{book.title}}</title>
{% endblock %}

{% block content %}
    <h1>Title: {{book.title}}</h1>
    <p><strong>Author: </strong> <a href="{% url 'author-detail' book.author.pk %}">{{book.author}}</a></p>
    <p><strong>Summary: </strong>{{book.summary}}</p>
    <p><strong>ISBN: </strong><a href="{{book.get_absolute_url}}">{{book.isbn}}</a></p>
    <p><strong>Language: </strong>{{ book.language.all|join:', '}}</p>
    <p><strong>Genre: </strong>{{book.genre.all|join:", "}}</p>
    <div style="margin-left: 20px;margin-top:20px;">
        <h3>Copies</h3>
        {% for copy in book.bookinstance_set.all %}
        <div class="clearfix">
        <div class="container col-sm-6" style="margin-top: 8px; padding: 10px 32px;border: 2px solid mediumslateblue;">            
        <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% elif copy.status == 'l'%}text-warning{% endif %}">
            {{copy.get_status_display}}
        </p>
        {% if copy.status != 'a' %}
            <p><strong>Due to be returned: </strong> {% if copy.due_back %}{{copy.due_back }}{% else %}N/A{% endif%}</p>
        {% endif %}
        <p class="text-muted"><strong>ID: </strong>{{copy.unique_id}}</p>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}